*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
}
.body-container{
}
.login-container{
    background-image: url(./images/BG.svg);   
    min-height: 85vh;
    background-repeat: no-repeat;
    background-color: #1841bd;
    width: 80%;
    margin: 50px auto;
    padding: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.mart{
    margin-top: 90px;
}
object{
    width: 80px;
}
form{
    margin: 40px auto;
}
.input-obj{
    width: 25px;
    position: absolute;
}
.obj-username{
    bottom: 345px;
    margin-left: 10px;
}
.obj-password{
    bottom: 275px;
    margin-left: 10px;
}
input{
    width: 300px;
    height: 50px;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
}
.username{
    margin-bottom: 10px;
}

.password{
    margin-top: 20px;    
}
::placeholder{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    padding-right: 100px;
    opacity: 0.70;
    letter-spacing: 1px;
}
.login{
    margin-top: 50px;
}
button{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 7px 5px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 7px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 7px 5px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}
.login-btn{
    color: #2148C0;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    background-color: #FFFFFF;
}
.login-btn:hover{
    cursor: pointer;
    background-color: #2148C0;
    color:#FFFFFF;
    border: 1px solid #FFFFFF;
}
p{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;
    padding-left: 145px;
}
